<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007807471132-koepvnmjv8avm76ljpdh37h7auq7oflp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007807471132-koepvnmjv8avm76ljpdh37h7auq7oflp</string>
	<key>API_KEY</key>
	<string>AIzaSyA1wUgWCCloiJLClFfqbJp5MzafwRhW3eg</string>
	<key>GCM_SENDER_ID</key>
	<string>1007807471132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.compareApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>compare-app-eca2a</string>
	<key>STORAGE_BUCKET</key>
	<string>compare-app-eca2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007807471132:ios:fbd91989871358b60349d9</string>
</dict>
</plist>